@charset "utf-8";
body ul li a {
    text-decoration: none;
}
body {
    background-image: url("bg_body.png");
    color: black;
}
#top li a {
    text-decoration: none;
}
#top li a {
    display: block;
    text-decoration: none;
    width: 240px;
    height: 35px;
    background-color: navy;
    color: #ffffff;
    text-align: center;
    padding: 18px 0px 0px 0px;
}
#top li a:hover {
    background-color: blue;
}
#top li {
    list-style-type: none;
}